body {
    background-image: url(/img/bg-canvas_bg.jpg);
    font-family: 'Microsoft YaHei', 'SimHei', sans-serif;
}

.header {
	width:100%;
	height:400px;
	-background-image: url(/img/background.jpg);
	-moz-background-size:100% 100%;  
	background-size:100% 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.header-img {
	z-index: -999;
	height:400px;
	width: 100%;
	position: absolute;
}

.title,.title:visited,.title:hover {
	color: white;
	font-size: 56px;
	font-weight: 300;
	line-height: 56px;
	letter-spacing: -1px;
	float: left;
	padding: 70px 0 50px 0;
	text-decoration:none;
	text-shadow:0 2px 1px rgba(0, 0, 0, 0.67) !important;
}

.subtitle {
	position:absolute;
	padding: 0px 0 0px 0px;
	margin: 135px 0 0 0;
	color:white;
}

.nav-link,.nav-link:visited,.nav-link:hover {
	color:white;
}

.posts-list {
	list-style:none;
	padding:20px 20px 20px 20px;
	margin: 0 0 10px 0;
}

.posts-li {
	margin-bottom: 10px;
	padding-bottom: 0px;
	border-bottom:1px solid #ccc;
}

.posts-li:last-of-type {
	border-bottom:none;
}


.paginator {
	text-align:center;
}

.arrorw {
	color:#888888
}


.navi-all {
	float: left;
	width: 15%;
	padding: 120px 0 0 50px;
}


.my-footer:link,.my-footer:visited {
	bround-color:#1c3340;
}

.footer-link,.footer-link:visited {
	color:#828282;
}


/* categories list */
.categories-list-header {
	display: block;
	padding: 12px 15px;
	border-bottom: 1px solid #c0c0c0;
	font-size: 16px;
	font-weight: bold;
}
.categories-list-item{
	display: block;
	padding:8px 15px; 
	border-bottom:1px solid #ddd; 

	transition:0.4s ease;
	-webkit-transition:0.4s ease;
	-moz-transition:0.4s ease;
	-o-transition:0.4s ease;
}
.categories-list-item:last-of-type{
	border-bottom:none; 
}
.categories-list-item:hover{
	background-color: rgba(0,0,10,0.075);
	color: #983;
}
.categories-list-item .my-badge{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-color: #999;
	padding: 0 7px 1px 7px;
	border-radius: 9px;
	float: right;
	transition:0.4s ease;
	-webkit-transition:0.4s ease;
	-moz-transition:0.4s ease;
	-o-transition:0.4s ease;
}
.categories-list-item:hover .my-badge{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
	transform:scale(1.2);
}

/* shadow */
.shadow-box{
	position: relative;
	background-color:#f8f8fd; 
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 0px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 0px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 0px rgba(0,0,0,0.1) inset;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.4),0 0 0px rgba(0,0,0,0.1) inset;
}

.shadow-categoris{
	box-shadow: -5px 5px 15px rgba(0,0,0,0.4),0 0 40px rgba(0,0,0,0.1) inset;
}

.articleBody {
	padding: 50px 50px 50px 50px;
}

.articleBody  a:link,.articleBody  a:visited,.articleBody  a:hover {
		color:#4876FF;
	}
.articleBody  a:hover {
		text-decoration:underline;
	}
