---
layout: default
comments: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
	{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
	{% if page.categories %} • <span>{{ page.categories }}</span></span>{% endif %}
	</p>
  </header>

  <div class="post-content shadow-box articleBody" itemprop="articleBody">
  <h1>正文</h1>
    {{ content }}
  </div>
  
  <!-- UY BEGIN -->
<div id="uyan_frame" class="shadow-box shadow-categoris" style="padding:20px 20px 20px 20px;"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2121247"></script>
<!-- UY END -->

</article>
